.app{
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    /* background: rgb(32,32,32);
    background: radial-gradient(circle, #333 0%, #1e1e1e 100%); */
}
.container{
    height: 100%;
    margin: 0 auto;
    padding: 0 25px;
}

@media only screen and (max-width: 768px) {
    .container{
        padding: 0 50px;
    }
}

  