/*BURGER BUTTON ANIMATIONS*/
.col {
    z-index: 252;
    position: fixed;
    right: 35px;
    top: 35px;
    line-height: 0;
  }
  .col_portfolio_link{
    z-index: 252;
    position: fixed;
    left: 35px;
    top: 25px;
    line-height: 0;
  }
  .special_con {
    cursor: pointer;
    display: inline-block;
    z-index: 252;
    width: 65px;
    position: relative;
    background: transparent;
    border: none;
    outline: none;
  } 
  .bar {
    display: block;
    height: 1px;
    width: 50px;
    background: #cacaca;
    margin: 7px auto;
    transition: all 425ms cubic-bezier(0.05, 0.65, 0.18, 1);
  }
  .special_con:hover .bar {
    background-color: var(--main-color);
  }
  .header_portfolio_link {
    display: block;
    -moz-transition: -moz-transform 0.25s ease-out 0.3s;
    -o-transition: -o-transform 0.25s ease-out 0.3s;
    -webkit-transition: -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out 0.3s;
    cursor: pointer;
    height: 55px;
    width: 52px;
  }
  
  .header_portfolio_link > i {
    display: block;
    width: 8px;
    height: 8px;
    background-color: #7a7a7a;
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    transition: all 425ms cubic-bezier(0.05, 0.65, 0.18, 1);
  }
  .header_portfolio_link:hover > i,
  .header_portfolio_link:hover {
    cursor: pointer;
  }
  
  .header_portfolio_link:hover > i {
    background-color: #ff9307;
  }
  
  .header_portfolio_link:hover i:nth-child(1) {
    transform: translateY(-14px) translateX(-14px) !important;
  }
  .header_portfolio_link:hover i:nth-child(2) {
    transform: translateY(-14px) translateX(14px) !important;
  }
  .header_portfolio_link:hover i:nth-child(3) {
    transform: translateY(14px) translateX(-14px) !important;
  }
  .header_portfolio_link:hover i:nth-child(4) {
    transform: translateY(0px) translateX(-14px) !important;
  }
  .header_portfolio_link:hover i:nth-child(5) {
    transform: translateY(-14px) translateX(0px) !important;
  }
  .header_portfolio_link:hover i:nth-child(6) {
    transform: translateY(14px) translateX(0px) !important;
  }
  .header_portfolio_link:hover i:nth-child(7) {
    transform: translateY(0px) translateX(14px) !important;
  }
  .header_portfolio_link:hover i:nth-child(9) {
    transform: translateY(14px) translateX(14px) !important;
  }
  /* END OF BURGER BUTTON*/
.nav{
    top: 0;
    width: 100% ;
} 
.navigation {
    width: 100%;
    margin: 0 auto;
    height: 0;
    position: fixed;
    background: rgb(32,32,32);
    background: radial-gradient(circle, #333 0%, #1e1e1e 100%);  top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 250;
    box-shadow: 0px 4px 2px -2px rgb(255 255 255 / 15%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .ulNavWrapper {
    max-width: 400px;
    border-left: 0.5px solid var(--main-color);
    overflow: hidden;
    height: 0;
    position: relative;
  }
  
  .ulNavWrapper > ul {
    list-style: none;
    margin: 0;
    display: flex;
    padding-left: 0;
    flex-direction: column;
  }
  .ulNavWrapper > ul > li {
    text-align: left;
    transform: translateX(-150%);
    font-weight: 400;
    display: inline-block;
    position: relative;
    margin: 3px 0;
  }
  .ulNavWrapper > ul > li > a {
    padding: 5px 5px 5px 15px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 28px;
    transition: all 250ms ease-in-out;
    text-transform: uppercase;
    font-family: Montserrat;
    width: 100%;
  user-select: none;

  }
  .ulNavWrapper > ul > li:first-child {
    margin-top: 0;
  }
  .ulNavWrapper > ul > li > a:before {
    display: block;
    content: '';
    border-bottom: solid 1px var(--main-color);
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
    transform-origin: left;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .ulNavWrapper > ul > li:hover a {
    color: var(--main-color);
  }
  .ulNavWrapper > ul > li > a:hover:before{
    transform: scaleX(1);
  }
  .polygon{
    width: 50px;
    height: 50px;
    position: absolute;
    opacity:0.8;
    transform: scale(0);
  }
  .polygon:first-child{
    bottom: -7px;
    left: -12px;
  }
  .polygon:nth-child(2){
    bottom: 50px;
    left: 10px;
    width: 25px;
    height: 25px;
  }
  .polygon:nth-child(3){
    bottom: 30px;
    left: 40px;
    width: 20px;
    height: 20px;
  }
  .polygon > svg{
    fill: var(--main-color);
    width: 50px;
    height: 50px;
  }
  .polygon:nth-child(2) > svg{
    width: 25px;
    height: 25px;
  }
  .polygon:nth-child(3) > svg{
    width: 20px;
    height: 20px;
  }
  .loading_bar {
    width: 100%;
    height: 8px;
    display: block;
    background-color: #777777;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: left;
  }
.headerArrWrap > button{
  outline: none;
  border: none;
  margin: 0px 2px;
  border-radius: 50%;
  padding: 10px 15px;
  background-color: #000000;
  color: #fff;
  cursor: pointer;
}
.footer{
  max-width: 325px;
  width: 100%;
  padding: 20px 0 50px 0;
  margin: 0 auto;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  /* animation-name: animateIn;
  animation-delay:425ms;
  animation-fill-mode: both;
  animation-duration: 0.285s;
  animation-timing-function: cubic-bezier(0.5, 1.2, 0.5, 1.2); */
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(-25px);
  }
  50% {
    transform: scale(1) translateY(5px);
  }
  100% {
    opacity: 1;
  }
}
.footer h3 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
  font-weight: 400;
  text-transform: uppercase;
}
.footer p{
  line-height: 1.5rem;
}
.footer a {
  font-weight: 600;
}
@media only screen and (max-width: 480px) {
  .col{
    right: 15px;
    top: unset;
    bottom: 15px;
    padding:10px 0px;
    background-color: #1a1a1a;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%)
  }
  .special_con .bar{
    width: 35px;
  }
  .col_portfolio_link{
    z-index: 252;
    position: fixed;
    left: unset;
    right: 10px;
    top: 8px;
    line-height: 0;
  }
}