
.projectDetailsContainer {
    padding-top: 100px;
    font-weight: 300;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
    min-height: calc(100% - 150px);
  }
  .projectDetailsContainer .single_item_heading{
    text-transform: uppercase;
    overflow-wrap: break-word;
    font-size: 2rem;
  }
  .projectDetailsContainer .single_item_heading:after{
    content: '_';
    animation: blink-caret 0.65s step-end infinite;
    display: var(--projectDetailsHeadingAfterDisplay, none);
    }
    .projectDetailsContainer .shortDesc{
      min-height: 26px;
    }
    .projectDetailsContainer .shortDesc:after{
      content: '_';
      animation: blink-caret 0.65s step-end infinite;
      display: var(--projectDetailsshortDescAfterDisplay);
      font-weight: 600;
      padding-left: 3px;
    }
  .projectDetailsContainer p{
    color: #cacaca;
    overflow-wrap: break-word;
  }
  .projectDetailsContainer p{
    font-weight: 400;
    text-align: left;
    line-height: 26px;
  }
  .projectDetailsContainer p strong,
  .projectDetailsContainer p a{
    font-weight: 600 !important;
  }
  .projectDetailsContainer h2 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 0;
    color: #cacaca;
    transition: all 425ms cubic-bezier(0.05, 0.65, 0.18, 1);
    overflow-wrap: break-word;
  }
  .projectDetailsContainer h2:hover {
    cursor: default;
    color: #ff9307;
    margin-left: 10px;
  }
  .projectDetailsContainer h3 {
    font-weight: 300;
    text-align: left;
    margin-bottom: 10px;
    padding-bottom: 0;
    color: #cacaca;
  }
  .projectDetailsContainer .tech_list_items {
    color: #cacaca;
    text-align: left;
    overflow: hidden;
    list-style: none;
    padding-left: 10px;
  }
  .projectDetailsContainer .tech_list_items li {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 300;
    cursor: default;
    transition: all 425ms cubic-bezier(0.05, 0.65, 0.18, 1);
    text-transform: uppercase;
  }
  .projectDetailsContainer .tech_list_items li:before {
    content: '✓';
    padding-right: 15px;
    transition: all 425ms cubic-bezier(0.05, 0.65, 0.18, 1);
    transform-origin: left center;
  } 
  .projectDetailsContainer .tech_list_items li:hover,
  .projectDetailsContainer .tech_list_items li:hover:before {
    color: #ff9307;
  }
  .projectDetailsContainer .tech_list_items li:hover:before {
    padding-right: 30px;
  }
  .single_item_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0;
    animation-name: animateElIn;
    animation-delay: 125ms;
    animation-fill-mode: both;
    animation-duration: 0.285s;
    animation-timing-function: cubic-bezier(0.5, 1.2, 0.5, 1.2);
  }
  .singleContent {
    animation-name: animateElIn;
    animation-delay: 525ms;
    animation-fill-mode: both;
    animation-duration: 0.285s;
    animation-timing-function: cubic-bezier(0.5, 1.2, 0.5, 1.2);
  }
  .single_item_button {
    outline: 1px solid #cacaca;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    padding: 0;
    width: 100%;
    max-width: 200px;
  }
  .single_item_button a {
    color: #cacaca;
    padding: 15px 0px;
    font-family: 'Montserrat';
    background-color: transparent;
    position: relative;
    z-index: 1;
    width: 100%;
  }
  .single_item_button:focus{
    border: none;
  }
  .single_item_button a:after{
    width: calc(100% - 2px);
    background: #1a1a1a;
  }
  .single_item_button a:before{
    display: block;
    content: '';
    border-bottom: solid 2px #ff9307;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
    transform-origin: left;
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 100%;
    width: 100%;
  }
.single_item_button > a:hover:after,
.single_item_button > a:hover:before,
.single_item_button > a:focus:before,
.single_item_button > a:focus:after {
    transform: scaleX(1);
}
  .single_item_button_disabled {
    background-color: #cacaca ;
    color: #fff ;
    border: none;
    outline: none;
    opacity: 0.8;
    padding: 15px 20px;
    box-shadow: 0px 2px 2px rgb(0, 0, 0, 50%);
    cursor: not-allowed;
    outline: 1px solid #cacaca;
  }
  .single_item_about {
    padding-bottom: 1rem;
  }
  .single_item_tech {
    margin-bottom: 0 !important;
  }
  
@keyframes blink-caret {
    from,
    to {
      color: transparent;
    }
    50% {
      color: #cacaca;
    }
}
@keyframes animateElIn {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@media only screen and (max-width: 800px) {
  .projectDetailsContainer{
    padding: 75px 0px;
    max-width: 550px;
  }
}
@media only screen and (max-width: 480px) {
  .projectDetailsContainer{
    padding: 25px 0px;
  }
  .single_item_button_disabled{
    padding: 10px;
    width: 100%;
  }
  .single_item_button > a{
    padding: 10px 0px;
  }
  .single_item_buttons{
    flex-wrap: wrap;
  }
  .single_item_button{
    margin: 5px 0;
    width: 100%;
    max-width: unset;
  }
  .projectDetailsContainer p {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 370px) {
  .single_item_button,
  .single_item_button_disabled{
    width: 100%;
    max-width: unset;
  }
  .single_item_button > a{
    width: 100%;
    max-width: 100%;
    padding: 10px 0px;
  }
  .single_item_button{
    margin-bottom: 10px;
  }
}