.projectList{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px 0px 0px;
    list-style: none;
    padding: 0px;
    opacity: 0;
    transform: translateY(50px);
}
/* SINGLE PROJECT CARD */
.item_card {
    /* min-width: 400px; */
    padding: 15px;
    text-align: center;
    width: calc(50% - 30px);
  }
  .item_card > a{
    width: 100%;
    position: relative;
    transition: unset;
    box-shadow: 8px 10px 5px 0px rgba(0, 0, 0, 0.25);
  }
  .item_card > a:hover{
    color: #cacaca;
  }
  .item_card > a:after{
    position: unset;
    width: unset;
    height: unset;
    background: unset;
    transform: unset;
    border: unset;
    border-radius: unset;
    transform-origin: unset;
    content: unset;
  }
  .item_card > a > *{
    pointer-events: none;
  }
  .item_card_header {
    background-color: #cacaca;
    padding: 0.35rem 0.5rem;
    display: flex;
    color: #cacaca;
    text-transform: uppercase;
  }
  .item_card_header > *{
    user-select: none;
    color: #444444;
  }
  .item_card_header .arrows{
    display: flex;
    align-items: center;
  }
  .item_card_header .arrows span {
    margin: 0 2px;
    font-weight: 300;
  }
  .item_card_header .adress{
    width:calc(100% - 18px * 5 - 1.5rem);
    display: flex;
    margin: 0 0.5rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    background-color: #aaaaaa;
    border-radius: 0.7rem;
    overflow: hidden;
  }
  .item_card_header .adress h4 {
    margin: 0;
    font-size: 0.7rem;
    font-weight: 600;
    line-height: 0.7rem;
    color: #444444;
    text-shadow: none !important;
    letter-spacing: 0.05rem;
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
  .item_card_header .vertical_dots {
    align-self: center;
    font-weight: 300;
    position: relative;
    top: -1px;
  }
  .main_info{
    position: relative;
    overflow: hidden;
    max-height: 218px;
    line-height: 0;
  }
  .main_info .back{
    position: absolute;
    top: -100%;
    transition: all 325ms ease-in-out;
    height: 100%;
    width: 100%;
    opacity: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .main_info .back ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 75%;
    margin-top: 2rem;
  }
  .main_info .back ul li{
    margin: 0.2rem;
    padding:0.8rem 0.9rem;
    background-color: #202020;
    text-transform: uppercase;
    font-size: 0.75rem;
    border-radius: 3px;
    font-weight: 500;
    line-height: 0;
    box-shadow: 3px 4px 5px 0px rgb(0 0 0 / 45%);

  }
  .back > ul > li:last-child{
    pointer-events: all;
    position: absolute;
    bottom: 15px;
    transition: all 325ms ease-in-out;
  }
  .back > ul > li:last-child:hover {
    color: var(--main-color);
  }
  .back > ul > li:last-child:active {
    pointer-events: none;
  }
  .item_card:hover .back{
    top: 0;
    opacity: 1;
  }
  .item_card:hover .back ul li{
    animation-name: animateIn;
    animation-delay:425ms;
    animation-fill-mode: both;
    animation-duration: 0.285s;
    animation-timing-function: cubic-bezier(0.5, 1.2, 0.5, 1.2);
  }
  .ribbon {
    position: absolute;
    transform: rotate(-45deg);
    padding: 4px;
    width: 200px;
    bottom: 25px;
    right: -60px;
    font-weight: 900;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 8px 10px 5px 0px rgba(0, 0, 0, 0.25);
    background-color: #ff9307;
    text-transform: uppercase;
    font-size: 12px;
    z-index: 3;
  }
  .ribbon > span {
    max-width: 140px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
    color: white !important;
    font-weight: 600;
    letter-spacing: 0.05rem;
  }
  @keyframes animateIn {
    0% {
      opacity: 0;
      transform: scale(0.8) translateY(-25px);
    }
    50% {
      transform: scale(1) translateY(5px);
    }
    100% {
      opacity: 1;
    }
  }
/* END OF SINGLE PROJECT CARD */
 @media only screen and (max-width: 956px) {
  .item_card{
    padding: 10px;
    width: calc(50% - 20px);
  }
}
@media only screen and (max-width: 800px) {
  .item_card{
    min-width: unset;
    padding: 10px 0px;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .main_info{
    height: 190px;
  }
  .main_info .back ul{
    margin-top: 1rem;
  }
}
